$orange: #F58634;
$orange_dark: #cc5802;
$orange_selected: #E46437;

$background_color: #e5e5e5;
$background_menu: #4c0202;

$padding_events_cover: 0 20px;
$menu_selected: #290000;

$font_cursive: 'Indie Flower', 'cursive', 'Times New Roman';

$font_default: 'Exo', sans-serif;
