
body.largeMenu {
  header {
    .logo {
      margin-top: 5px;
      img {
        //max-width: 432px;
      }
    }
    nav {
      a {
        font-size: 16px;
        padding: 12px 18px;
      }
    }
  }
}

@import "responsive/768px";
@import "responsive/992px";
@import "responsive/767px";

