body.largeMenu {
  header {
    .logo {
      margin-top: 5px;
      img {
        //max-width: 432px;
      }
    }
    nav {
      a {
        font-size: 16px;
        padding: 12px 18px;
      }
    }
    @media (min-width: 768px) {
      height: 165px;
      nav {
        .navigation {
          width: 572px;
          margin: 10px auto 0 auto;
        }
        a {
          font-size: 14px;
          padding: 10px 15px;
        }
      }
    }
    @media (min-width: 992px) {
      height: 120px;
      .logo {
        img {
          float: right;
        }
      }
      nav {
        margin-top: 30px;
        .navigation {
          //width: 572px;
          //margin: 10px auto 0 auto;
          float: left;
        }
      }
    }
    @media (max-width: 768px) {
      height: 150px;
      nav {
        .navbar-toggle {
          top: 90px
        }
      }
    }
  }
}

