//section {
.border {
  border: 1px solid #690101;
  margin-bottom: 15px;
  overflow: hidden;
}

.events {
    li{
        width: 100%;
        overflow: hidden;
        time{
            float:left;
            font-size:14px;
            line-height: 100%;
        }
        h3{
            float:left;
            font-size:14px;
            margin: 0;
            line-height: 100%;
        }
    }
  .title {
    margin-top: 0;
  }
  h2 {
    padding: 10px 20px;
  }
  ul {
    padding: $padding_events_cover;
  }

  .teatro {
    .title {
      background-color: #F5F5F5;
    }
  }
  .show {
    .title {
      background-color: rgba(52, 148, 52, 0.43);
      color: #FFF;
    }
  }
  .danca {
    .title {
      background-color: rgba(154, 45, 45, 0.63);
      color: #FFF;
    }
  }
  .literatura {
    .title {
      background-color: rgba(154, 45, 45, 0.63);
      color: #FFF;
    }
  }
  .exposicao {
    .title {
      background-color: rgba(154, 45, 45, 0.63);
      color: #FFF;
    }
  }
  .outros {
    .title {
      background-color: rgba(154, 45, 45, 0.63);
      color: #FFF;
    }
  }

  .more {
    padding: $padding_events_cover;
    float: right;
  }
  .empty{
      padding:20px 10px;
  }

}

//}
